:root {
    /* Backgrounds */
    --background: #FDF6ED;
    --surface: #FFFFFF;
    --surface-alt: #F7F1E8;

    /* Brand Colors */
    --primary: #778873;
    --primary-hover: #687A64;
    --primary-light: #A1BC98;

    /* Borders */
    --border: #DCCFC0;

    /* Text */
    --text: #2D2D2D;
    --text-secondary: #5C5C5C;

    /* Effects */
    --shadow: rgba(0,0,0,.08);
}

body{
    font-family: "Inter", sans-serif;
    background: var(--background);
    color: var(--text);
    line-height:1.7;
}

main{
    max-width:1000px;
    margin:auto;
    padding:3rem 2rem;
}

h1{
    color:var(--primary);
    font-size:3rem;
    font-weight:700;
    margin-bottom:1rem;

    letter-spacing:-1px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    flex-wrap: wrap;
}

.hero-buttons {
  display: flex;
  justify-content: left;
  gap: 20px;
}

.project-links a{
    background:var(--primary);
    color:white;
    border:none;
}

.project-links a:hover{
    background:var(--primary-light);
}

.skills li{
    background:var(--primary-light);
    color:#2f2f2f;
    font-weight:600;
    list-style-type: none;;
}

.Section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

img {
  width: 50%;
}

#profilePic {
  width: 128px;
  height: 128px;
  border: solid var(--border) 2px;
  border-radius: 100%;
}

.experience-card{
    background:white;
    border:1px solid var(--border);
    border-radius:16px;
    padding:2rem;
    box-shadow:0 5px 15px rgba(0,0,0,.05);
    margin-bottom: 20px;
}

#Socials {
  display: flex;
  align-items: center;
  gap: 30px;
}

.link {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 5px 20px;
  justify-content: space-around;
  background-color: rgb(213, 213, 213);
  border: solid black 1px;
  border-radius: 10px;
  margin: 5px;
  text-decoration: none;
}

.center-text {
  text-align: center;
}
