body {
    background: linear-gradient(-45deg, #ba52ee, #3c6de7, #23a6d5, #23d5ab);
      background-size: 400% 100%;
      animation: gradient 5s ease infinite;
  }


  .index {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .Section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }

  img {
    width: 50%;
  }

  #profilePic {
    width: 128px;
    height: 128px;
    border: solid black 4px;
    border-radius: 100%;
  }

  #Socials {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .link {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 5px 20px;
    justify-content: space-around;
    background-color: rgb(213, 213, 213);
    border: solid black 4px;
    border-radius: 10px;
    margin: 5px;
    text-decoration: none;
  }
